body {
  background: url('../images/doggrid.jpg') center center no-repeat;
}

#/*dvGuess {
	background-color: #CABB82;
}*/

.panel.panel-primary {
	background-color: rgba(255, 255, 255, 1);
	border-color: #000;
}

.panel > .panel-heading {
	background-color: #000;
	border: 1px solid black;
}

#imgHangman {
	width: 640px;
	height: 480px;
	max-width: 640px;
	max-height: 480px;
	min-width: 640px;
	min-height: 480px;
}